#page-header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    display: none;
}
#view-box{
    position: fixed;
    left: 0;
    right: 0;
    top: 53px;
    bottom: 0;
    background-color: #fff;
    z-index: 2;
    display: none;
}
.view-box iframe{
    height: 100%;
}
.font-icon-10x {
    font-size: 140px
}

@media (min-width:992px) {
    .col-md-d5 {
        width: 20%
    }
}

.slide-in-up-100 {
    position: relative;
    top: 100px
}

.slide-in-up-100.in {
    top: 0
}

.slide-in-right-50 {
    position: relative;
    left: 50px
}

.slide-in-right-50.in {
    left: 0
}

.grow-up-in-height.show {
    height: 0;
    overflow: hidden
}

.grow-up-in-height.show.in {
    height: auto
}

.margin-zero {
    margin: 0!important
}

@-webkit-keyframes glow {
    0% {
        border-color: rgba(71, 164, 71, .9);
        -webkit-box-shadow: 0 0 12px rgba(71, 164, 71, .1)
    }
    100% {
        border-color: #1a801a;
        -webkit-box-shadow: 0 0 18px rgba(26, 128, 26, .8), 0 0 12px rgba(71, 164, 71, .5)
    }
}

.example {
    position: relative;
    padding: 20px;
    margin: 0 0 15px;
    border: 1px solid #ddd;
    border-style: solid;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s
}

.example [contenteditable]:focus,
.example:focus {
    outline: 0;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .5);
    -webkit-animation-name: glow;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate
}

.example.no-padding {
    padding: 0
}

.example.borderless {
    border: none
}

.example>:last-child {
    margin-bottom: 0
}

pre {
    position: relative;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-color: #ddd;
    border-radius: 0
}

pre em {
    display: inline-block;
    font-weight: 700
}

pre:hover em {
    background-color: #ffe5e0
}

pre.linenums {
    padding: 10px
}

.example+pre,
pre+pre {
    margin: -15px 0 15px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0
}

.copyable {
    position: relative
}

.btn-copy-code {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 28px;
    height: 28px;
    padding: 3px 0;
    line-height: 20px;
    text-shadow: none;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 3px;
    opacity: 0
}

.btn-copy-code>.font-icon {
    line-height: 20px
}

.btn-copy-code:hover {
    color: #145ccd;
    background-color: #fff;
    border-color: #3280fc
}

.copyable.fixed-copy-btn>.btn-copy-code,
.copyable:hover>.btn-copy-code,
pre:hover>.btn-copy-code {
    opacity: 1
}

.nav-examples.nav-tabs>li>a {
    border-radius: 0
}

.nav-examples+.example {
    border-top-color: transparent
}

a.avatar {
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 5px!important;
    font-size: 30px;
    line-height: 40px;
    color: #aaa!important;
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 4px
}


body {
    -webkit-transition: background .2s cubic-bezier(.175, .885, .32, 1);
    transition: background .2s cubic-bezier(.175, .885, .32, 1)
}


#grid {
    position: relative
}

#grid>.container>.row>.col.hide {
    display: block;
    width: 0;
    padding: 0;
    filter: alpha(opacity=0);
    opacity: 0
}

#grid>.container>.row+.row {
    padding-top: 10px;
    border-top: 1px solid #f1f1f1
}

#grid .chapter {
    margin-bottom: 30px
}

#grid .chapter-heading>h4 {
    margin-bottom: 15px
}

#grid .chapter-heading>h4>.name {
    cursor: pointer
}

#grid .chapter-heading>h4>.name:after {
    position: relative;
    left: -10px;
    display: inline-block;
    display: none\9;
    margin-left: 5px;
    font-family: ZenIcon;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    content: '\e6dd';
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity .2s cubic-bezier(.175, .885, .32, 1), left .2s cubic-bezier(.175, .885, .32, 1);
    transition: opacity .2s cubic-bezier(.175, .885, .32, 1), left .2s cubic-bezier(.175, .885, .32, 1);
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#grid .chapter-heading>h4>.name:hover:after {
    left: 0;
    filter: alpha(opacity=100);
    opacity: 1
}

#grid .card {
    display: none;
    margin-bottom: 0;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none;
    -webkit-transition: border .1s cubic-bezier(.175, .885, .32, 1), height .1s cubic-bezier(.175, .885, .32, 1), transform .1s cubic-bezier(.175, .885, .32, 1), top .1s cubic-bezier(.175, .885, .32, 1), left .1s cubic-bezier(.175, .885, .32, 1), opcity .1s cubic-bezier(.175, .885, .32, 1);
    -webkit-transition: border .1s cubic-bezier(.175, .885, .32, 1), height .1s cubic-bezier(.175, .885, .32, 1), top .1s cubic-bezier(.175, .885, .32, 1), left .1s cubic-bezier(.175, .885, .32, 1), opcity .1s cubic-bezier(.175, .885, .32, 1), -webkit-transform .1s cubic-bezier(.175, .885, .32, 1);
    transition: border .1s cubic-bezier(.175, .885, .32, 1), height .1s cubic-bezier(.175, .885, .32, 1), top .1s cubic-bezier(.175, .885, .32, 1), left .1s cubic-bezier(.175, .885, .32, 1), opcity .1s cubic-bezier(.175, .885, .32, 1), -webkit-transform .1s cubic-bezier(.175, .885, .32, 1);
    transition: border .1s cubic-bezier(.175, .885, .32, 1), height .1s cubic-bezier(.175, .885, .32, 1), transform .1s cubic-bezier(.175, .885, .32, 1), top .1s cubic-bezier(.175, .885, .32, 1), left .1s cubic-bezier(.175, .885, .32, 1), opcity .1s cubic-bezier(.175, .885, .32, 1);
    transition: border .1s cubic-bezier(.175, .885, .32, 1), height .1s cubic-bezier(.175, .885, .32, 1), transform .1s cubic-bezier(.175, .885, .32, 1), top .1s cubic-bezier(.175, .885, .32, 1), left .1s cubic-bezier(.175, .885, .32, 1), opcity .1s cubic-bezier(.175, .885, .32, 1), -webkit-transform .1s cubic-bezier(.175, .885, .32, 1)
}

#grid .card.show {
    display: block
}

#grid .card.choosed {
    border-color: grey
}

#grid .card.choosed:before {
    position: absolute;
    top: 0;
    right: -100%;
    display: block;
    padding: 3px 8px;
    color: #fff;
    content: 'Enter';
    border-radius: 0 3px 0 3px;
    -webkit-transition: right .1s cubic-bezier(.175, .885, .32, 1);
    transition: right .1s cubic-bezier(.175, .885, .32, 1)
}

#grid .card[data-target=external].choosed:before {
    content: 'Enter'
}

#grid .card[data-target=""].choosed:before {
    display: none
}

#grid .card.open,
#grid .card:hover {
    border-color: #e5e5e5
}

#grid .card.open {
    margin-bottom: 5px
}

#grid .card-heading {
    position: relative;
    padding: 8px 8px 8px 50px;
    -webkit-transition: background-color .1s cubic-bezier(.175, .885, .32, 1);
    transition: background-color .1s cubic-bezier(.175, .885, .32, 1)
}

#grid .card-heading>.font-icon {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 10;
    width: 30px;
    height: 30px;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    background-position: center;
    background-size: contain;
    border: 1px solid #f1f1f1;
    border-radius: 16px;
    -webkit-transition: background-color .1s cubic-bezier(.175, .885, .32, 1), color .1s cubic-bezier(.175, .885, .32, 1);
    transition: background-color .1s cubic-bezier(.175, .885, .32, 1), color .1s cubic-bezier(.175, .885, .32, 1)
}

#grid .card-heading>.font-icon.with-img {
    background-color: transparent!important;
    filter: alpha(opacity=80);
    opacity: .8
}

#grid .card-heading>.font-icon.with-img:hover {
    filter: alpha(opacity=100);
    opacity: 1
}

#grid .card-heading>.font-icon:before {
    position: relative
}

#grid .card-heading>h5 {
    padding: 5px 0;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    -webkit-transition: padding .1s cubic-bezier(.175, .885, .32, 1), color .1s cubic-bezier(.175, .885, .32, 1);
    transition: padding .1s cubic-bezier(.175, .885, .32, 1), color .1s cubic-bezier(.175, .885, .32, 1)
}

#grid .card-heading>h5>a.name {
    color: #353535
}

#grid .card-heading>small {
    position: relative;
    display: none;
    min-height: 18px;
    max-height: 48px;
    font-size: 12px;
    white-space: normal
}

#grid .card-heading:hover>.btn-toggle {
    right: 0;
    width: 64px
}

#grid .card-heading.hover {
    background-color: #f1f1f1
}

#grid .card-heading.hover>.font-icon {
    color: #fff;
    background-color: grey
}

#grid .card-content {
    height: 0;
    padding: 0 10px;
    overflow: hidden;
    -webkit-transition: padding .1s cubic-bezier(.175, .885, .32, 1), height .1s cubic-bezier(.175, .885, .32, 1);
    transition: padding .1s cubic-bezier(.175, .885, .32, 1), height .1s cubic-bezier(.175, .885, .32, 1)
}

#grid .card-content>ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none
}

#grid .card-content>ul:before {
    position: absolute;
    top: -10px;
    bottom: 14px;
    left: 15px;
    z-index: 5;
    display: block;
    content: ' ';
    filter: alpha(opacity=0);
    border-left: 1px dotted #e5e5e5;
    opacity: 0
}

#grid .card-content>ul>li {
    position: relative;
    padding: 0
}

#grid .card-content>ul>li>a {
    display: block;
    padding: 5px 0 5px 40px;
    color: #353535;
    border-radius: 4px
}

#grid .card-content>ul>li>a>.font-icon {
    display: inline-block;
    width: 20px;
    text-align: center
}

#grid .card-content>ul>li>a:active,
#grid .card-content>ul>li>a:focus,
#grid .card-content>ul>li>a:hover {
    text-decoration: none
}

#grid .card-content>ul>li>a[href^='#search/']:before {
    position: absolute;
    top: 2px;
    left: 3px;
    z-index: 100;
    display: block;
    width: 24px;
    height: 24px;
    font-family: ZenIcon;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    line-height: 22px;
    color: grey;
    text-align: center;
    text-transform: none;
    content: '\e603';
    background-color: #e5e5e5;
    border-radius: 12px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#grid .card-content>ul>li.active>a,
#grid .card-content>ul>li>a:hover {
    color: #353535;
    background-color: #f1f1f1
}
