
.comments>header {
    border-bottom: 1px solid #e5e5e5
}

.comments>header>.alert {
    padding: 7.5px 15px;
    margin-bottom: -10px;
}

.comments>header h1,
.comments>header h2,
.comments>header h3 {
    margin: 30px 0 20px;
}

.comments>footer {
    padding-top: 10px;
}

.comments>footer>.reply-form>.avatar {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.comments>footer>.reply-form>.avatar+.form {
    padding-left: 50px;
}

.comment {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}

.comment:after,
.comment:before {
    display: table;
    content: " ";
}

.comment:after {
    clear: both;
}

.comment:after,
.comment:before {
    display: table;
    content: " ";
}

.comment:after {
    clear: both;
}

.comment>.avatar,
.comment>.content {
    display: block;
}

.comment>.avatar {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.comment>.avatar+.content {
    padding-left: 50px;
}

.comment>.content>.text {
    padding-top: 5px;
}

.comment>.content>.actions>a {
    display: inline-block;
    padding-right: 5px;
    padding-left: 2px;
    color: grey;
}

.comment:hover>.content>.actions>a {
    color: #145ccd;
}

.comment>.comments-list {
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 30px;
    margin-left: 20px;
    border-left: 1px dashed #e5e5e5;
}

.comment>.comments-list>.comment {
    border: none;
    border-top: 1px solid #e5e5e5;
}

.comment>.comments-list>.comment:last-child {
    padding-bottom: 0;
}

a.avatar {
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 5px!important;
    font-size: 30px;
    line-height: 40px;
    color: #aaa!important;
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 4px;
}